<launch>

  <!-- <param name="robot_description" textfile="$(find bioloid_typea_description)/typea.urdf" /> -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find bioloid_typea_description)/typea.xacro'" />


  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/empty.world"/>
    <arg name="paused" value="true"/>
  </include>

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find bioloid_typea_description)/typea.urdf -urdf -model typea -z 0.24" />

  <include file="$(find bioloid_typea_control)/launch/control.launch"/>

  <node name="typea_walker" pkg="bioloid_typea_gazebo" type="walker.py" output="screen"/>

</launch>
